@font-face {
  font-family: 'Arista';
  src: url(../fonts/Arista2.0-RegularTrial.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}

header{
    font-family: Arista;
    font-size: 17px;
}